/**************Applies to entire file***************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/**************Applies to entire file***************/

body {
    background-color: #d9dcd6; /*Site background color*/
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; /*Makes top menu bar teal*/
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6; /*changes the "seo" in Horiseon to offwhite*/
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right; /*Floats menu items right*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: #ffffff; /*Menu font color*/
    text-decoration: none;
}


figure {/*Adds a photo banner to site*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");/*Photo for photo banner*/
    background-size: cover;
    background-position: center;
}

.float-left { /*Floats content image left*/
    float: left;
    margin-right: 25px;
}

.float-right {/*Floats content image right*/
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb; /*Content block background color*/
    color: #ffffff; /*Content block font color*/
}

main img {
    max-height: 200px; /*Content block images size*/
}

main h2 { /*Content block headers style*/
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both; /*Clears floats from content section*/
    float: right;/*Floats sidebar to the right*/
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd; /*Sidebar background color*/
}

.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 { /*Styles sidebar headers*/
    margin-bottom: 10px;
    text-align: center;
}

.benefits img { /*Styles sidebar images*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer { /*Style footer*/
    padding: 30px;
    clear: both;/*Clears sidebar floats*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {/*Styles footer header*/
    font-size: 20px;
}
